<section role="main" class="content-body">
    <header class="page-header">
        <h2>Dashboard</h2>
    </header>

    <section>
        <h1>{{title}} </h1>
    </section>

    <form id="formFile" name="formFile">
        <input type="file" name="upload" class="btn btn-primary" id="upload" accept=".xls, .xlsx">
        <div id="dropbox">
            <div class="mtz-container">
                <p>Solte seu arquivo aqui!</p>
                <p>ou</p>
                <p>
                    <strong>Clique aqui!</strong>
                </p>
            </div>
        </div>
        <p class="caption">São aceitos somente arquivos
            <strong>.xls </strong>e
            <strong> .xlsx</strong>
        </p>
        <div id="preview"></div>
    </form>

</section>
<style>
</style>